body {
    margin: 0px;
    padding: 0px;
    color: black;
    border-color: transparent;
    background-color: #e17842;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    @media (min-width: 768px) {
        .navbar-collapse.collapse {
            height:auto;
            
        }
        
    }
    #collapsable-nav {
        border-color: transparent;
    }
.container-fluid {
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e17842;
}
    a:link {
        color: #151414;
        text-decoration: none;
    }
    .card {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        background-color: #f2b99c;
        border: 1px solid black;
        margin: 15px;
        box-shadow:0 0 80px #b24420;
        padding:10px;
        margin:15px;
    }
    .sectilte {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        
    }
    .card a {
        text-decoration: none;
        color: #e82c2c;
    }
    .card p {
        padding: 15px;
    }

    body h1 {
        text-align: center;
    }


#header-nav {
    background-color:#e85424;
    padding: 10px;
    margin: 0px;
    border-color: transparent;
}

    .list-item {
        padding: 10px;
        text-align:center;
    }
    #nav-list>a>div {
        color: #111010;
        font-weight:bold;
    }
    .list-item:hover{
        background-color:#f2905d;
    }
    .header-title {
        margin: 0px;
        color: #111010;
    }

    