body {
    margin:0px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:link {
    color: black;
    text-decoration: none;
}

#header-nav .container {
    background-color: #808080;
    border: 1px solid black;
    color:black;
}

.card {
    background-color: #808080;
    border: 1px solid black;
    margin: 15px;
    
}
.sectilte{
    padding:10px;
    text-align: center;
    font-weight:bold;
    font-size:1.2em;
}
.card p{
    padding:15px;
}
.sectilte a{
    text-decoration:none;
    color:blue;
}
#nav-list > #collapsable-nav {
    background-color: white;
    color: black;
}
.navbar-nav > li > a {
    margin-top: 0px;

}
.nav > li > a {
    margin-top: 10px;
}

ul {
    background-color: white;
}
a{
    color:#0f2b6d;
    text-decoration:none;
}
body h1{
    text-align:center;
}
hr{
    color:black
}

